*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
.env
backend/.env
node_modules
backend/node_modules
*.log
.kotlin
